html,body {
  background: no-repeat center center fixed;
  background-image: image-url("aleks_rent2.JPG") ;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
  background-size: cover;         /* Generic*/
}