html,body {
  background: url("/aleks_rent/images/aleks_rent2.JPG") no-repeat center center fixed;
  //background: transparent url(image-path("aleks_rent2.jpg")) no-repeat scroll center center / cover;
  //background-image: image-url("aleks_rent2.JPG") ;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
  background-size: cover;         /* Generic*/
}