!!! 5
%html{:lang => "en"}
  %head
    = partial "layouts/head"

  %body.page-template-page-Portfolio2Cols-filterable
    .main-holder
      = partial "layouts/header"
      = yield
      = partial "layouts/footer"