!!! 5
%html{:lang => "en"}
  %head
    = partial "layouts/head"

  %body{class: (yield_content :custom_body_class)}
    .main-holder
      = partial "layouts/header"
      = yield
      = partial "layouts/footer"