.content-holder.clearfix
  .container
    .row
      .span12
        .row
          .span12
            %section.title-section
              %h1.title-header
                = t('header.nav.menu_item_contact')