.main-holder
  %header.motopress-wrapper.header
    .container
      .row
        .span12
          .menu-holder
            .row
              .span3
                .logo.pull-left
                  %a{href: '#', class: 'logo_h logo_h__img'}
              .span9
                %nav.nav.nav__primary.clearfix
                  %ul#topnav.sf-menu.sf-js-enabled
                    %li.menu-item.menu-item-type-custom.menu-item-object-custom.custom-color1.active-menu-item
                      %a{href:'#'}
                        Home
                      .menu-item-hover-plane-1
                      .menu-item-hover-plane-2
                    %li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.custom-color2
                      %a{href:'#'}
                        About
                      .menu-item-hover-plane-1
                      .menu-item-hover-plane-2
                    %li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.custom-color3
                      %a{href:'#'}
                        Portfolio
                      .menu-item-hover-plane-1
                      .menu-item-hover-plane-2
                    %li.menu-item.menu-item-type-custom.menu-item-object-custom.custom-color4
                      %a{href:'#'}
                        Blog
                      .menu-item-hover-plane-1
                      .menu-item-hover-plane-2
                    %li.menu-item.menu-item.menu-item-type-post_type.menu-item-object-page.custom-color5
                      %a{href:'#'}
                        Contacts
                      .menu-item-hover-plane-1
                      .menu-item-hover-plane-2








