.main-holder
  %header.motopress-wrapper.header
    .container
      .row
        .span12
          .menu-holder
            .row
              .span3
                .logo.pull-left
                  %a{href: '#', class: 'logo_h logo_h__img'}
                    = image_tag 'logo.png'
              .span9
                %nav.nav.nav__primary.clearfix
                  %ul#topnav.sf-menu.sf-js-enabled
                    %li.menu-item.menu-item-type-custom.menu-item-object-custom.custom-color1.active-menu-item
                      %a{href:'#'}
                        Home
                      .menu-item-hover-plane-1
                      .menu-item-hover-plane-2
                    %li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.custom-color2
                      %a{href:'#'}
                        About
                      .menu-item-hover-plane-1
                      .menu-item-hover-plane-2
                    %li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.custom-color3
                      %a{href:'#'}
                        Portfolio
                      .menu-item-hover-plane-1
                      .menu-item-hover-plane-2
                    %li.menu-item.menu-item-type-custom.menu-item-object-custom.custom-color4
                      %a{href:'#'}
                        Blog
                      .menu-item-hover-plane-1
                      .menu-item-hover-plane-2
                    %li.menu-item.menu-item.menu-item-type-post_type.menu-item-object-page.custom-color5
                      %a{href:'#'}
                        Contacts
                      .menu-item-hover-plane-1
                      .menu-item-hover-plane-2

#parallax-slider-5722e3cc6fd95.parallax-slider.simple-fade-eff
  %ul.baseList
    %li{data: {"preview" => "#{image_path 'parallax.JPG'}", "thumb-url" => "", "ulr-link" => ""}}
      .slider_caption
        Discover Barcelona
    %li{data: {"preview" => "#{image_path 'parallax2.JPG'}", "thumb-url" => "", "ulr-link" => ""}}
      .slider_caption
        We are in El Paral.lel
    %li{data: {"preview" => "#{image_path 'parallax3.JPG'}", "thumb-url" => "", "ulr-link" => ""}}
      .slider_caption
        Bikes, scooters, electric scooters, quads, etc.


.motopress-wrapper.content-holder.clearfix
  .container
    .row
      .span12
        .block-with-image.orientation-to-left
          .bwi-content-block
            %h2
              What we do?
            %p
              Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.

