.main-holder
  %header.motopress-wrapper.header
    .container
      .row
        .span12
          .menu-holder
            .row
              .span3
                .logo.pull-left
                  %a{href: '#', class: 'logo_h logo_h__img'}
                    = image_tag 'logo.png'
              .span9
                %nav.nav.nav__primary.clearfix
                  %ul#topnav.sf-menu.sf-js-enabled
                    %li.menu-item.menu-item-type-custom.menu-item-object-custom.custom-color1.active-menu-item
                      %a{href:'#'}
                        Home
                      .menu-item-hover-plane-1
                      .menu-item-hover-plane-2
                    %li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.custom-color2
                      %a{href:'#'}
                        Rentals
                      .menu-item-hover-plane-1
                      .menu-item-hover-plane-2
                    %li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.custom-color3
                      %a{href:'#'}
                        About us
                      .menu-item-hover-plane-1
                      .menu-item-hover-plane-2
                    %li.menu-item.menu-item-type-custom.menu-item-object-custom.custom-color4
                      %a{href:'#'}
                        Policies
                      .menu-item-hover-plane-1
                      .menu-item-hover-plane-2
                    %li.menu-item.menu-item.menu-item-type-post_type.menu-item-object-page.custom-color5
                      %a{href:'#'}
                        Contact
                      .menu-item-hover-plane-1
                      .menu-item-hover-plane-2

#parallax-slider-index.parallax-slider.simple-fade-eff
  %ul.baseList
    %li{data: {"preview" => "#{image_path 'slider-img1.jpg'}", "thumb-url" => "", "ulr-link" => ""}}
      .slider_caption
        Discover Barcelona
    %li{data: {"preview" => "#{image_path 'slider-img2.jpg'}", "thumb-url" => "", "ulr-link" => ""}}
      .slider_caption
        We are in El Paral.lel
    %li{data: {"preview" => "#{image_path 'slider-img3.jpg'}", "thumb-url" => "", "ulr-link" => ""}}
      .slider_caption
        Bikes, scooters, electric scooters and quads


.motopress-wrapper.content-holder.clearfix
  .container
    .row
      .span12
        .block-with-image.orientation-to-left
          .bwi-content-block
            %h2
              What we do?
            %p
              Aleks Rent is a bike rentals shop in El Parallel, Barcelona's Broadway. A district with
              a quality programme of performances embracing a variety of musical genres that provides an addition
              to the offerings of the other theaters.
            %p
              We rent bikes, scooters, electric scooters and quads using a simple philosophy, work fast and good and with reasonable prices.

%footer.footer
  .container
    .row
      .span12
        .footer-widgets
          .row
            .span3
              %div
                %h4 About
                .menu-footer-custom-menu-1-container
                  %ul.menu
                    .menu-item.menu-item-type-custom
                      %a{href: "#"} Test
            .span3
              %div
                %h4 Services
                .menu-footer-custom-menu-1-container
                  %ul.menu
                    .menu-item.menu-item-type-custom
                      %a{href: "#"} Test

            .span6
              .textwidget
                .google-map-api
                  #map-canvas-bcn.gmap
                  %script{src: "https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false&key=AIzaSyATIrKARZCd250_cXZihqPt6gSwjnwHvHc"}
                  :javascript
                    var map;
                    var coordData = new google.maps.LatLng(41.3744283, 2.168358600000033);
                    var marker;

                    function initialize() {
                      var mapOptions = {
                        zoom: 12,
                        center: coordData,
                        scrollwheel: false,
                        panControl: true,
                        zoomControl: true,
                        mapTypeControl: false,
                        scaleControl: false,
                        streetViewControl: false,
                        overviewMapControl: false,
                        styles: [{"stylers":[{"hue":"#ff1a00"},{"invert_lightness":true},{"saturation":-100},{"lightness":33},{"gamma":0.5}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#2D333C"}]}]
                      }
                      var map = new google.maps.Map(document.getElementById("map-canvas-bcn"), mapOptions);
                      map.panBy(0, 0);

                      marker = new google.maps.Marker({
                        map:map,
                        draggable:true,
                        position: coordData
                      });
                    }
                    google.maps.event.addDomListener(window, "load", initialize);

        .row.copyright
          .span6
            .footer-text
              &copy; 2016 Aleks Rent


